/* main body */
body {
    font-family: 'Raleway', sans-serif;
}

/* unordered list */
ul {
    padding-left: 0;
}

/* header 1 & 2 */
h1, h2 {
    font-family: 'Cinzel Decorative', cursive;
}

/* link */
a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 15px;
}

/* Nav Bar */
nav {
    padding: 0;
}

.banner {
    margin: 0 0 30px;
}

/* base class details */
.home_article {
    margin: 5px;
    background-color: LightGray;
    padding: 10px;
}

.koos {
    font-size: 24px;
    font-weight: bold;
}

/* flex container */
.navContainer {
    background: rgb(46, 44, 47);
    background: linear-gradient(0deg, rgba(46, 44, 47, 1) 0%, rgba(110, 121, 122, 1) 50%, rgba(46, 44, 47, 1) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Raleway", sans-serif;
}

/* prime header */
.prime {
    font-family: 'Cabin Sketch', cursive;
}

/* flex item */
.navItem {
    background: rgb(46, 44, 47);
    background: linear-gradient(0deg, rgba(46, 44, 47, 1) 0%, rgba(110, 121, 122, 1) 50%, rgba(46, 44, 47, 1) 100%);
    display: flex;
    flex-grow: inherit;
}

/* hover style */
.navItem:hover {
    background: rgb(34, 34, 34);
    background: linear-gradient(0deg, rgba(34, 34, 34, 1) 0%, rgba(84, 84, 84, 1) 50%, rgba(34, 34, 34, 1) 100%);
    box-shadow: inset 0 0 10px #000000;
}

/* active style */
.active {
    background: rgb(34, 34, 34);
    background: linear-gradient(0deg, rgba(34, 34, 34, 1) 0%, rgba(84, 84, 84, 1) 50%, rgba(34, 34, 34, 1) 100%);
    box-shadow: inset 0 0 10px #000000;
}

/* change font style */
.kyk {
    font-style: italic;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styling of the contact form */
/* Label to appear next to the input fields */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Legend style */
legend {
    font-style: italic;
    font-size: 18px;
    color: darkslategrey;
}

/* Fieldset padding*/
fieldset {
    margin: 10px 2px;
    padding: 10px 20px;
}

/* submit button */
input[type=submit] {
    background: rgb(35, 55, 55);
    background: linear-gradient(180deg, rgba(35, 55, 55, 1) 0%, rgba(100, 131, 131, 1) 7%, rgba(47, 79, 79, 1) 24%, rgba(9, 14, 14, 1) 100%);
    box-shadow: 1px 13px 23px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 13px 23px 0 rgba(0, 0, 0, 0.75);
    color: white;
    padding: 15px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    font-weight: bold;
}

/* change the submit button style on hover */
input[type=submit]:hover {
    background: rgb(35, 55, 55);
    background: linear-gradient(0deg, rgba(35, 55, 55, 1) 0%, rgba(103, 140, 140, 1) 7%, rgba(47, 79, 79, 1) 24%, rgba(9, 14, 14, 1) 100%);
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.75);
    color: lightgrey;
    font-weight: bold;
}

/* Focus on field that is being entered*/
input:focus {
    background-color: darkslategrey;
    color: white;
}

/* container */
.container {
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px 30px 80px;
    box-shadow: 2px 0 31px 0 rgba(145, 145, 145, 0.75);
    -webkit-box-shadow: 2px 0 31px 0 rgba(145, 145, 145, 0.75);
}

/* remove floats after columns*/
.row {
    max-width: 100%;
    margin-bottom: 10px;
}

/* column for the label */
.col-25{
    float: left;
    text-align: left;
    width: 100px;
}

/* column for the input fields */
.col-75 {
    margin-left: 110px;
    max-width: 100%;
    padding-top: 10px;
}

/* Center the contact form */
#contactForm {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/* Sizing of input fields */
input {
    padding: 5px 5px;
    font-size: 14px;
}

/* Mobile devices */
@media screen and (max-width: 480px) {
    body {
        background-color: red;
    }

    /* flex container */
    .navContainer {
        height: 40px;
        font-size: 0.9rem;
    }

    h1 {
        font-size: medium;
    }

    .banner {
        margin: 0 0 10px;
    }

    /* Make form responsive mobile */
    input[type=submit] {
        width: 100%;
        margin-top: 10px;
    }
}

/* iPads, Tablets. */
@media screen and (min-width: 481px) {
    body {
        background-color: orange;
    }

    /* add radius to article style */
    .home_article {
        border-radius: 14px;
    }

    /* flex container */
    .navContainer {
        height: 40px;
        font-size: 1rem;
    }

    /* flex item */
    .navItem {
        height: 40px;
    }

    .banner {
        margin: 0 0 15px;
    }
}

/* Small screens, laptops */
@media screen and (min-width: 769px) {
    body {
        background-color: #589ddb;
    }

    /* increase the font size of class piet */
    .piet {
        font-size: 20px;
    }

    .navContainer {
        height: 50px;
        font-size: 1.4rem;
    }

    /* flex item */
    .navItem {
        height: 50px;
    }

    .banner {
        margin: 0 0 20px;
    }
}

/* Desktops, large screens. */
@media screen and (min-width: 1025px) {

    h1 {
        font-size: 60px;
    }

    body {
        background-color: green;
    }

    main {
        display: table;
    }

    #left {
        float: left;
        width: 47%;
    }

    #right {
        float: right;
        width: 47%;
    }

    .piet {
        font-size: 28px;
        text-shadow: 1px 2px 2px;
    }

    /* change font style */
    .kyk {
        text-shadow: 0 0;
    }

    /* flex container */
    .navContainer {
        height: 50px;
        font-size: 1.6rem;
    }

    /* flex item */
    .navItem {
        height: 50px;
    }
}

/* Extra large screens, TV. */
@media screen and (min-width: 1201px) {

    h1 {
        font-size: 72px;
    }

    body {
        background-color: white;
    }

    /* flex container */
    .navContainer {
        height: 60px;
        font-size: 2rem;
    }

    /* flex item */
    .navItem {
        height: 60px;
    }
}